<div>
<h1 class="text ps-4">Places</h1>
</div>

<div>
  <button type="button" class="btn btn-light"><a href="/places/new">New place</a></button>
</div>

<br>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</ul>

