<div>
<h1 class="text ps-4">New Place</h1>
</div>

<%= form_with model: @place do |form| %>
  <div class="mb-3">
    <%= form.label "name", class: "form-label ps-4" %>
    <%= form.text_field "name", class: "form-control input-padding-x-4" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>


